.login-form .title {margin-top: 50px; font-size: 180%; text-align: center;}
.login-form .site-login {text-align: center;}
.site-treaning1 #kv1, #kv2, #kv3 {width: 80px; height: 100px; float: left; background: red; margin: 5px; color: white; display: none;}
.site-treaning2 #st1, #st2, #st3 {float: left; background: yellow; margin: 5px; padding: 5px;}